<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="~/css/style1.css">
    @RenderSection("Css",false)
    <title>Shopapp</title>
</head>
<body>

   
    @await Html.PartialAsync("_navbar")
    @* @await Html.PartialAsync("_header") *@

  

<main class="my-5">
    <div class="container">


        @if(TempData["message"]!=null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
            }
            @RenderBody()
    </div>
</main>
<footer class="py-5 bg-dark text-white text-center">Shop App | 2020</footer>
    
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>