<header>
        @* <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, quis recusandae. Similique, aperiam animi corrupti eligendi quam maxime necessitatibus in voluptate laudantium labore esse earum suscipit amet nulla natus voluptates.</p>
            </div>
        </div>
        <div class="container"> *@
  <div class="h-middle">
        <div class="slider">
            <input type="radio" name="r" id="r1" class="r">
            <input type="radio" name="r" id="r2" class="r">
            <input type="radio" name="r" id="r3" class="r">
            <div class="figure animate">
                
                <div class="slide">
                    <img src="~/img/Asus Rog.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/img/Asus Strix.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/img/Ps4.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="~/img/Ps5.jpg" alt="">
                </div>
            </div>
            
        </div>
        @* <div class="btn btn-primary btn-lg read-me mb-3" >Read More</div> *@
        <div class="radio">
            <label  for="r1" class="radioi" id="l1"></label>
            <label  for="r2" class="radioi" id="l2"></label>
            <label  for="r3" class="radioi" id="l3"></label>
        </div>
        

        
    </div>
    
        </div>

  




</header>
